@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
}

textarea {
  resize: none;
  font-family: inherit;
}

input {
  font-family: inherit;
}

/*buttons*/

.btn {
  background: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 4px;
  cursor: pointer;
}

.btn-success {
  background: #4cbb17;
  padding: 8px 16px;
  border-radius: 5px;
}

.btn-danger {
  background: red;
  padding: 8px 16px;
  border-radius: 5px;
}

/*modals*/

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 400px;
  background: #fff;
  transform: translate(-50%, -50%);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
}

.modal form {
  width: 100%;
  height: 100%;
}

.modal .modal-header {
  width: 100%;
  height: 50px;
  background: #F96969;
  position: relative;
}

.modal-header input {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 30px;
  background: #F96969;
  font-size: 18px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #333;
}

.modal-header input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #333;
}

.modal .modal-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content textarea {
  display: block;
  width: 100%;
  height: 300px;
  padding: 20px;
  font-size: 16px;
  outline: none;
  border: none;
}

.modal-content textarea:focus {
  border: none;
  outline: none;
}

/*AddModal*/

.add-modal .modal-header .btn {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.add-modal .modal-header .btn:hover {
  transform: translateY(-50%);
}

/*EditModal*/

.edit-modal .modal-header .btn-exit {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.edit-modal .modal-header .btn-trash {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.add-modal .modal-header .btn:hover {
  transform: translateY(-50%);
}

/*Navbar*/

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F96969;
  color: #fff;
  height: 6.5rem;
  width: 100%;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
}

#navbar h1 {
  font-size: 2.5rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 40px;
}

#navbar ul li {
  padding: 0 20px;
}

#navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

#navbar button {
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/*Front block*/
.front-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 360px;
  background: #fff;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.front-container form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.front-container .form-group {
  width: 100%;
  margin-bottom: 16px;
}

.front-container label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 8px;
}

.front-container input[type="text"],
.front-container input[type="email"],
.front-container input[type="password"] {
  width: 100%;
  height: 3.2rem;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #333;
  font-size: 1.6rem;
  padding: 0 6px;
}

.front-container input[type="submit"] {
  margin-top: 30px;
}

.front-container h2 {
  font-size: 3rem;
  margin: 10px;
  text-align: center;
}

#register .front-container {
  height: 620px;
}

#login, 
#register,
#landing {
  background: url('https://images.unsplash.com/photo-1527345931282-806d3b11967f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80') no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login::before, 
#register::before,
#landing::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.6);
  z-index: -1;
}

/* Noteboard */

#noteboard .control-form {
  margin-top: 100px;
  position: relative;
}

#noteboard .control-form input {
  position: absolute;
  left: 50%;
  width: 300px;
  padding: 4px;
  transform: translateX(-50%);
}

#noteboard .control-form button {
  position: absolute;
  right: 50px;
}

.notes {
  padding: 50px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/*Note*/

.note {
  background: #FFFF58;
  position: relative;
  width: 250px;
  height: 250px;
  padding: 5px;
  color: #333;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
  margin: 20px;
  cursor: pointer;
}

.note h2 {
  width: 80%;
  text-align: center;
  margin: 10px 20px;
}

.note p {
  width: 80%;
  margin: 20px;
  font-size: 16px;
  text-align: justify;
}

/*Account*/

#account {
  display: flex;
  justify-content: center;
}

#account button {
  margin-top: 120px;
}

/*Spinner*/
.spinner-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-regular {
  width: 200px;
  height: 200px;
}

.spinner-small {
  width: 100px;
  height: 100px;
}

.error-text {
  color: red;
  font-size: 16px;
}